.main {
    max-width: 1280px;
  margin-left: auto;
  margin-right: auto;
}

.checker {
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
margin-top: 20px;
gap: 10px;
}

.checker__form {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 300px;
  width: 100%;
  margin-top: 25px;
}

.checker__title {
  font-size: 26px;
  font-weight: 700;
}

.checker__password-toggle {
position: absolute;
top: 50%;
right: 7px;
transform: translateY(-50%);
font-size: 22px;
cursor: pointer;
transition: color 250ms ease;
}

.checker__password-toggle:hover,
.checker__password-toggle:focus {
  color: #718096;
}

.title {
  text-align: center;
}

.checker__input {
  display: flex;
  justify-content: flex-start;
  padding: 10px 15px;
  font-size: 16px;
  border-radius: 5px;
  box-shadow: none;
  background-color: var(--main-bg);
  color: var(--text-color);
  border: 1px solid ;
}

.checker__input:focus-visible {
  outline: none;
  border-color: var(--accent-color);
}

.checker__indicators {
  display: flex;

  gap: 2px;
  height: 5px;
  margin-top: 4px;
}

.checker__indicators div {
    width: calc((300px - 10px) / 3);
    transition: background-color 250ms ease;
  }

  .checker__indicators div:first-child{
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}

.checker__indicators div:last-child{
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}


.checker__indicators  .default {
    background-color: var(--ind-default);
  }

.checker__indicators  .weak {
    background-color: var(--ind-weak);
  }

.checker__indicators  .medium {
    background-color: var(--ind-medium);
  }

.checker__indicators  .strong {
    background-color: var(--ind-strong);
  }

  .checker__rules ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

.checker__rules {
margin-top: 30px;
display: flex;
flex-direction: column;
}

.checker__rules-title{
  font-size: 20px;
  text-align: center;
}

.gray {
  color: var(--ind-default);
}

.red {
  color: var(--ind-weak)
}

.yellow {
  color: var(--ind-medium)
}

.green {
  color: var(--ind-strong);
}

.count {
  color: var(--accent-color);
}